.collections {
    padding: 61px 0 63px;
}
.collections__wrap {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collect__card {
    position: relative;
    color: white;
    
}

.collect__imgBg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.collect__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    width: 100%;
    height: 100%;
}

.lines {
    
}

collect__icon {
    
}


